# Create a Mongo Database

In this activity, you'll start by importing the contents of a JSON file into a Mongo database collection by using the Mongo CLI.

1. Start Mongo by running `mongod` for Windows, or `brew services start mongodb/brew/mongodb-community` for Mac.
2. In the terminal, use `cd` to navigate to the resources folder that contains the file named customer_list.json.
3. Use the following command to import this file to a Mongo database:

```
mongoimport --type json -d petsitly_marketing -c customer_list --drop --jsonArray customer_list.json
```

This command tells Mongo that it needs to:

* import a json file (`--type json`)
* to a database called "petsitly_marketing" (`-d petsitly_marketing`) 
* in a collection called "customer_list" (`-c customer_list`)
* treat the input source as a json array (`--array`)
* removing the existing "customer_list" collection (`--drop`), if it exists, before adding the new documents from the json file.

Now that we have imported our data, let's use pymongo to explore it.

In [1]:
from pymongo import MongoClient

4. Create an instance of MongoClient, using the port number 27017.

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

5. List the names of the database in order to confirm that the petsitly_marketing database was created.

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'local', 'petsitly_marketing']

6. Assign the petsitly_marketing database to a variable name

In [4]:
# assign the petsitly_marketing database to a variable name
db = mongo['petsitly_marketing']

7. List the names of the collections in the database. 

> Hint: Be sure to use the variable name you assigned to your database to do this.

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['customer_list']

8. Use the `find_one` function to look at a document within the `customer_list` collection of your database.

In [6]:
# review a document in the customer_list collection
print(db.customer_list.find_one())

{'_id': ObjectId('61bba08adfdd4a81f41e3008'), 'Customer_First': 'Malvin', 'Customer_Last': 'Keeling', 'Address': '5221 Christopher Landing Suite 898', 'Email': 'udavis@hotmail.com', '2021_Visits': 95, '2021_Total_Spend': 1638.75, 'Pet_Type': 'fish'}

9. Assign the `customer_list` collection to a variable of your choice.

In [7]:
# assign the collection to a variable
customer_list = db['customer_list']

10. Use the `insert_one` function to insert the new customer into the database, then run the query in the following cell to look at this customer.

In [8]:
# insert a new customer
new_customer = {'_id':3, 'Customer_First': 'Data', 'Customer_Last': 'Viz', 
                'Address': '55882 Valley Fields Dr', 'Email': 'dataviz@bootcamp.edu', 
                '2021_Visits': 75, '2021_Total_Spend': 2017.75, 'Pet_Type': 'cat'}
customer_list.insert_one(new_customer)

In [9]:
# Filter results by name (run this cell)
query = {'Customer_First': 'Data'}
results = customer_list.find(query)
for result in results:
    print(result)

{'_id': 3, 'Customer_First': 'Data', 'Customer_Last': 'Viz', 'Address': '55882 Valley Fields Dr', 'Email': 'dataviz@bootcamp.edu', '2021_Visits': 75, '2021_Total_Spend': 2017.75, 'Pet_Type': 'cat'}

11. Create a query that will find all of the customers who have turtles as pets. 

> Bonus: Try running queries to see what other types of animals customers have.

In [10]:
# Find the number of customers with turtles
query = {'Pet_Type': 'turtle'}
results = customer_list.find(query)
for result in results:
    print(result)

{'_id': ObjectId('61bba08adfdd4a81f41e300f'), 'Customer_First': 'Loni', 'Customer_Last': 'Hauck', 'Address': '10609 Joanna Manor', 'Email': 'sjohnson@hotmail.com', '2021_Visits': 76, '2021_Total_Spend': 1311.0, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3017'), 'Customer_First': 'Consuela', 'Customer_Last': 'Kunze', 'Address': '34500 Acevedo Plains', 'Email': 'ycruz@gmail.com', '2021_Visits': 26, '2021_Total_Spend': 448.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e301b'), 'Customer_First': 'Dora', 'Customer_Last': 'Walter', 'Address': '827 Juarez Radial Suite 343', 'Email': 'kristine10@gmail.com', '2021_Visits': 50, '2021_Total_Spend': 862.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3034'), 'Customer_First': 'Carlene', 'Customer_Last': 'Gutmann', 'Address': '23904 Moore Coves', 'Email': 'patricialozano@hotmail.com', '2021_Visits': 20, '2021_Total_Spend': 345.0, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e305b'), 'Customer_First': 'Ethen', 'Customer_Last': 'Gislason', 'Address': '90100 Michael Flat', 'Email': 'markpotter@gmail.com', '2021_Visits': 29, '2021_Total_Spend': 500.25, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e305c'), 'Customer_First': 'Jeri', 'Customer_Last': 'Emard', 'Address': '28564 Richard Trail Suite 044', 'Email': 'blewis@hotmail.com', '2021_Visits': 33, '2021_Total_Spend': 569.25, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e305e'), 'Customer_First': 'Maria', 'Customer_Last': 'Wilkinson', 'Address': '5074 Turner Lakes', 'Email': 'warrenannette@yahoo.com', '2021_Visits': 70, '2021_Total_Spend': 1207.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3067'), 'Customer_First': 'Corinna', 'Customer_Last': 'Donnelly', 'Address': '6678 Barnes Plains', 'Email': 'belltina@gmail.com', '2021_Visits': 36, '2021_Total_Spend': 621.0, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e308c'), 'Customer_First': 'Jaelynn', 'Customer_Last': 'Schamberger', 'Address': '56306 Courtney Islands', 'Email': 'bailey91@gmail.com', '2021_Visits': 63, '2021_Total_Spend': 1086.75, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3093'), 'Customer_First': 'Corrina', 'Customer_Last': 'Schulist', 'Address': '6537 Jeffrey Isle', 'Email': 'hinesmisty@gmail.com', '2021_Visits': 79, '2021_Total_Spend': 1362.75, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3097'), 'Customer_First': 'Shelva', 'Customer_Last': 'Hegmann', 'Address': '01245 Brown Branch', 'Email': 'teresawhite@hotmail.com', '2021_Visits': 18, '2021_Total_Spend': 310.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30a1'), 'Customer_First': 'Renae', 'Customer_Last': 'Harber', 'Address': '1473 Moore Island Suite 010', 'Email': 'randallward@yahoo.com', '2021_Visits': 4, '2021_Total_Spend': 69.0, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30b3'), 'Customer_First': 'Jayvon', 'Customer_Last': 'Herman', 'Address': '896 Heather Extensions Apt. 149', 'Email': 'upayne@hotmail.com', '2021_Visits': 71, '2021_Total_Spend': 1224.75, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30b7'), 'Customer_First': 'Antonina', 'Customer_Last': 'Roberts', 'Address': '075 Gail Springs', 'Email': 'donna34@yahoo.com', '2021_Visits': 54, '2021_Total_Spend': 931.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30c8'), 'Customer_First': 'Karrie', 'Customer_Last': 'Kihn', 'Address': '6902 William Fields Suite 210', 'Email': 'nlee@hotmail.com', '2021_Visits': 94, '2021_Total_Spend': 1621.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30ca'), 'Customer_First': 'Eugenia', 'Customer_Last': 'Adams', 'Address': '9736 Nathaniel Cape Apt. 239', 'Email': 'xkramer@gmail.com', '2021_Visits': 90, '2021_Total_Spend': 1552.5, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e30f2'), 'Customer_First': 'Anders', 'Customer_Last': 'Cronin', 'Address': '0027 Carrillo Fall Suite 216', 'Email': 'tyler75@hotmail.com', '2021_Visits': 89, '2021_Total_Spend': 1535.25, 'Pet_Type': 'turtle'}
{'_id': ObjectId('61bba08adfdd4a81f41e3100'), 'Customer_First': 'Helen', 'Customer_Last': 'Hirthe', 'Address': '0280 Stanley Rue', 'Email': 'millercorey@hotmail.com', '2021_Visits': 6, '2021_Total_Spend': 103.5, 'Pet_Type': 'turtle'}

12. Use the `delete_many` function to delete the customers that have turtles. Then query the database to confirm that this worked.

In [11]:
# Delete all the customers who have hamsters
customer_list.delete_many(query)
results = customer_list.find(query)
for result in results:
    print(result)

13. Use `drop_collection` to delete the collection, then use `list_collection_names` to confirm that this worked.

In [12]:
# Delete a collection
db.drop_collection('customer_list')
db.list_collection_names()

[]

14. Use `drop_database` to delete your database. Then use `list_database_names to confirm that this worked`.

In [13]:
# Delete the database
mongo.drop_database('petsitly_marketing')
mongo.list_database_names()

['admin', 'config', 'local']